body, html {
    height: 100%;
}



.aboutTextBlock {
    background-color: #EEEEEE;   
    width: 1024px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    font-family: monospace;
    white-space: pre;

    overflow-x: hidden;
        
}

.textBlock {
    font-size: 150%;
    
    padding-left: 5%;
    padding-right: 5%;
   
    
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
     
}