body, html {
    height: 100%;
}



.aboutTextBlock {
    background-color: #EEEEEE;   
    width: 1024px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    font-family: monospace;
    white-space: pre;

    overflow-x: hidden;
        
}

.textBlock {
    font-size: 150%;
    
    padding-left: 5%;
    padding-right: 5%;
    
    -ms-word-break: break-all;
    word-break: break-all;

    // Non standard for webkit
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}