#form-login {
    width: 300px;
    height: 300px;
    text-align: center;
    border: solid 1px black;
}

#emailBox, #passwordBox, #errorMsg {
    text-align: left;
    position: relative;
    padding-top: 5%;
    padding-left: 5%;
}

#emailLabel, #passwordLabel, #email, #password {
    display:block;
    position: relative;

    left: 0;
}

#email, #password {
    width: 90%;
}

#errorMsg {
    position: relative;
    padding-top: 10%;
    text-align: center;
    width: 90%;
    height: 40px;
    color: red;
}

#submitButton, #closeButton {
 display: inline-block;   
}
