.loginBox {
    width: 300px;
    height: 300px;
    text-align: center;
    border: solid 1px black;
}

#emailBox, #passwordBox, #errorMsg {
    text-align: left;
    position: relative;
    margin-top: 9%;
    margin-left: 5%;
}

#emailLabel, #passwordLabel, #email, #password {
    display:block;
    position: relative;
    left: 0;
}

#email, #password {
    width: 90%;
}

#errorMsg {
    position: relative;
    text-align: center;
    width: 90%;
    height: 40px;
    color: red;
    margin-bottom: 10%;
}

#submitButton, #closeButton {
 display: inline-block;   
}
