.defaultLayoutContent {

	white-space: normal;

}

.userSettingsDiv {

	display: block;
	font-size: 18px;
	margin-left:20%;
	margin-right:20%;

}

#userGreeting {

	font-size: 32px;
	font-weight: bold;

}

.usernameDiv, .emailDiv, .passwordDiv {

	padding-bottom: 4%;

}

#uname, #upass, #passbtn, #deletePopup {

	display: none;

}

#dummypass, #delbtn {

	display: inline;

}

#passwdErr {

	color: red;

}

#editbtn {

	margin-top: 5%;

}

#delbtn {

	margin-bottom: 5%;

}
