.defaultLayoutContent {
	white-space: normal;
        height: 100%;
}

.userSettingsDiv {
	font-size: 18px;
}

#userGreeting {
        text-align: center;
	font-size: 32px;
	font-weight: bold;
}


label {
    display: inline-block;
    width: 15%;
}

label[for=passwordlabel], label[for=userInfo] {
    color: blue;
     width: 100%;
}

.userInfoBox, .passwordChangeBox, .submitChanges {
    margin-left: 10%;
    padding-bottom: 3%;
}


#deletePopup {
	display: none;
}

#passwdErr {
	color: red;
}

#changeNotice {
    color: green;
}

